


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    background-color: #29292a;
    margin: auto;
	font-family: "Poppins", sans-serif;
    
}
::-webkit-scrollbar {
    width: 5px;
}

  /* Track */
::-webkit-scrollbar-track {
    background: #0000; 
}

  /* Handle */
::-webkit-scrollbar-thumb {
    background: #0000; 
}

  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #ffffff; 
}

@font-face {
	font-family: "inter";
	src: url(https://fonts.adobe.com/fonts/inter-variable#fonts-section);
}

header {
	display: grid;
	grid-template-areas: "logo search profile";
	grid-template-columns: 1fr 1fr 1fr;
	background-color: #1c1c1d;
	height: 12vh;
	position: fixed;
	width: 100%;
}
.logo {
	grid-area: logo;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 5%;
	margin-top: 2%;
	height: 9vh;
}

.search {
	grid-area: search;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	height: 11vh;
}

input {
	border: 1px solid white;
	height: 40%;
	border-radius: 2%;
	width: 70%;
}


.headIcon {
	grid-area: profile;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	height: 11vh;
}

.headIcon img {
	height: 6vh;
	margin-right: 5%;
}

.sidebar {
	position: fixed;
	background-color: #1c1c1d;
	width: 15%;
	overflow-y: scroll;
	height: 100%;
	margin-top: 12vh;
	padding-bottom: 50%;
}

.sidebar h3 {
	color: #ffffff;
	margin-left: 5%;
	margin-top: 5%;
	margin-bottom: 5%;
}

.sidebar li { 
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	margin-left: 5%;
	margin-bottom: 5%;
}

a {
	display:flex;
	justify-content: cennter;
	align-items: center;
	color: #ffffff;
	text-decoration: none;
	margin-left: 5%;
	margin-bottom: 5%;
}

.sidebar img {
	height: 3vh;
	margin-right: 5%;
}

.content {
	display: block;
	height: 100%;
	margin-left: 17%;
	margin-right: 5%;
	padding-top: 15vh;
	margin-bottom: 10vh;
}

.container {
	display: grid;
	grid-template-areas: "head more"
	                     "container container";
	grid-template-columns: 1fr 1fr;
}

.container h1 {
	grid-area: head;
	color: #ffffff;
	margin-bottom: 5%;
	font-weight: 600;
	font-size: 150%;
	
}

.container p {
	grid-area: more;
	color: #ffffff;
	margin-bottom: 5%;
    justify-self: flex-end;
}

.container p  {
	color: #ffffff;
	text-decoration: none;
}

.grid-container {
	grid-area: container;
	display: flex;
	grid-gap: 20px;
	justify-items: stretch;
}

.album {
	background-color: #1c1c1d;
	border-radius: 5%;
	padding: 2%;
	margin-bottom: 2%;

}

.album img {
	width: 9vw;
	border-radius: 5%;
	margin-bottom: 10%;
}

.grid-long-container { 
	grid-area: container;
	display: flex;
	flex-wrap: wrap;
	justify-items: stretch;
	margin-bottom: 2%;
 }

.long-card {
	display: flex;
	background-color: #1c1c1d;
	border-radius: 5%;
	padding: 2% 10% 2% 2%;
	margin-bottom: 2%;
	margin-left: 2%;
	justify-content: center;
	align-items: center;
}

.long-card img	{
	width: 3vw;
	margin-right: 10%;
}

.albumdesc-long {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

.albumdesc-long p {
	display: inline;
	color: #ffffff;
}

footer {
	position: fixed;
	bottom: 0;
	background-color: #1c1c1d;
	width: 100%;
	height: 12vh;
	display: grid;
	grid-template-areas: "left middle right";
	grid-template-columns: 1fr 1fr 1fr;
}

.playing {
	grid-area: left;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-left: 5%;
}

.playing img {
	height: 5vh;
	margin-right: 2%;
}
.playing p {
	color: #ffffff;
}

.control { 
	grid-area: middle;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	margin-top: 1%;
}

.atas {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
}

.control img {
	height: 5vh;
	padding: 4% 4% 2% 4%;
}

.bawah {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-top: 1%;
}

.bawah span {
	color: #ffffff;
	margin-left: 2%;
}

.bar {
	background-color: #ffffff;
	padding: 3% 140%;
	margin: 0% 0% 0% 20%;
}

.bar2 {
	background-color: #626161;
	padding: 3% 30%;
	margin: 0% 20% 0% 0%;
}

.suara {
	grid-area: right;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-right: 5%;
}

.suara img {
	height: 3vh;
	margin-left: 2%;
}

.volume {
	background-color: #ffffff;
	padding: 2px 12%;
	margin: 0% 0% 0% 5%;
}

.search img {
	height: 3vh;
	margin-left: 2%;
}


@media screen and (max-width: 700px) {


	header {
	height: 10vh;
	}

	.logo {
	grid-area: search;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
	height: 5vh;
}

	.sidebar {
	display: none;
}

	.container h1 {
		margin-left: 8%;
	}

	.container p {
		grid-area: more;
		margin-left: 8%;
		justify-self: flex-start;
	}

	.grid-container {
	grid-area: container;
	display: flex;
	flex-direction: row;
	grid-gap: 10px;
	justify-items: stretch;
}

.grid-long-container { 
	grid-area: container;
	display: flex;
	flex-direction: row;
	justify-items: stretch;
	margin-bottom: 2%;
 }

	.album {
	margin-right: 1%;
	margin-left: 8%;
	background-color: #1c1c1d;
	border-radius: 5%;
	padding: 8%;
	margin-bottom: 2%;

}

.album img {
	width: 18vw;
	border-radius: 5%;
	margin-bottom: 10%;
}

.long-card {
	background-color: #1c1c1d;
	border-radius: 5%;
	padding: 5% 11% 5% 5%;
	margin-bottom: 2%;
	margin-left: 8%;
	justify-content: center;
	align-items: center;
}

.long-card img	{
	width: 7vw;
	margin-right: 10%;
	margin-left:10%;
}




.container {
	display: grid;
	grid-template-areas: "head head"
	                     "container container"
						 "more more";
	grid-template-columns: 1fr 1fr;
}


	.burger {
	grid-area: logo;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
	height: 5vh;

}

	.search {
	grid-area: profile;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	height: 11vh;
	margin: auto;
}

	.search img {
	height: 5vh;
	margin-left: 15%;

}

    input {
	display: none;
	border: 1px solid white;
	height: 40%;
	border-radius: 2%;
	width: 70%;
}


.headIcon {
	display: none;
	justify-content: flex-end;
	align-items: center;
	height: 11vh;
}

.content {
	display: block;
	height: 100%;
	margin: auto;
	padding-top: 15vh;
	
}

footer {
	display: none;
	
}

}























